@{
    ViewData["Title"] = "Product - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Seafood.Models.Item

<div class="mui-panel">

    <h3>@Html.DisplayFor(model => model.Name) Details</h3>
    <div class="mui-divider"></div>
    <br />
    <p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>
    <p>@Html.DisplayNameFor(model => model.Origin): @Html.DisplayFor(model => model.Origin)</p>
    <p>@Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(model => model.Price)</p>
</div>