@{
    ViewData["Title"] = "Mailing List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model IEnumerable<Seafood.Models.Subscriber>

<h2>Mailing list</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <ul>
        @foreach (var listSubscriber in Model)
        {
            <li>@Html.DisplayFor(modelSubscriber => listSubscriber.Name) | @Html.ActionLink("Details", "Details", new { id = listSubscriber.SubscriberId }) | @Html.ActionLink("Edit", "Edit", new { id = listSubscriber.SubscriberId }) | @Html.ActionLink("Delete", "Delete", new { id = listSubscriber.SubscriberId })</li>
        }
    </ul>
}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}