<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//cdn.muicss.com/mui-0.9.21/css/mui.min.css" rel="stylesheet" type="text/css" />
<script src="//cdn.muicss.com/mui-0.9.21/js/mui.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="~/js/Scripts.js"></script>
<link href="~/CSS/StyleSheet.min.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/c3a95916f1.js"></script>
<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
<title>@ViewBag.Title</title>
</head>
<body>
    <div id="sidedrawer" class="mui--no-user-select">
        <div id="sidedrawer-brand" class="mui--appbar-line-height">
            <span class="mui--text-title">Son of Cod</span>
        </div>
        <div class="mui-divider"></div>
        <li>
            <strong>Explore the Seas</strong>
            <ul>
                <li>@Html.ActionLink("Subscribe", "Index", "Subscriber")</li>
                <li>@Html.ActionLink("Delivery", "Delivery")</li>
                <li>@Html.ActionLink("About Us", "About")</li>
            </ul>
        </li>
        <li>
            <strong>Admin Portal</strong>
            <ul>
                <li>@Html.ActionLink("Register", "Register", "Account")</li>
                <li>@Html.ActionLink("Log In", "Login", "Account")</li>
            </ul>
        </li>
    </div>
    <header id="header">
        <div class="mui-appbar mui--appbar-line-height">
            <div class="mui-container-fluid">
                <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
                <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
                <span class="mui--text-title mui--visible-xs-inline-block">Brand.io</span>
            </div>
        </div>
    </header>
    <div id="content-wrapper">
        <div class="mui--appbar-height"></div>
        <div class="mui-container-fluid">
            @RenderBody()
            </div>
        </div>
    <footer id="footer">
        <div class="mui-container-fluid">
            <br>
            Made with ♥ by <a href="https://www.muicss.com">MUI</a>
           <p> @Html.ActionLink("Back to List", "Index", "Home")</p>
        </div>
    </footer>
</body>
</html>
